<ul>
 <li>
    <%= link_to 'Inicio', :controller => :main, :action => :index %>
 </li>
 <li>
    <%= link_to 'Autores', :controller => :authors, :action => :index %>
 </li>
 <li>
    <%= link_to 'Publicaciones', :controller => :publications, :action => :index %>
 </li>
 <li>
    <%= link_to 'Temas', :controller => :themes, :action => :index %>
 </li>
</ul>
